 flask
 passlib
 flask_mail
 flask_mysqldb
 wtforms
 bs4
 youtube-dl
 requests
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
